%% -*- mode: erlang; -*-
%% https://github.com/basho/lager
%% http://blog.differentpla.net/post/60
[{lager,
  [{handlers,
    [{lager_console_backend,
      [info, {lager_default_formatter,
              [date, " ", time, color, " [",severity,"] ", 
               {pid, ""},
               {module, [
                         {pid, ["@"], ""},
                         module,
                         {function, [":", function], ""},
                         {line, [":",line], ""}], ""},
               " ", message, "\n"]}]}
    ]}
  ]}].
