{sys, [
    {lib_dirs, ["../apps", "../deps"]},
    {rel, "presence", "0.1", [
        kernel,
        stdlib,
        sasl,
        lager,
        util,
        directory,
        session
    ]},
    {rel, "start_clean", "", [kernel, stdlib]},
    {boot_rel, "presence"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
    {excl_archive_filters, [".*"]},

    {app, hipe, [{incl_cond, exclude}]}
]}.

{overlay, [
          {mkdir, "log/sasl"},
          {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
          {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
          {copy, "files/presence", "bin/presence"},
          {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
          {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
